.table-head {
  background: #fff;
  padding: 0.3rem 0.8rem;
  border-bottom: 1px solid #1a1a1a;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}

th.up {
  background-image: url("../../images/up_arrow.png");
}
th.down {
  background-image: url("../../images/down_arrow.png");
}

.up,
.down {
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center right;
}
