.App {
  text-align: center;
  max-width: 1050px;
  /* max-height: 500px; */
  margin: 0 auto;
  overflow: auto;
}

/* 
=================
Table
=====================
*/

/* caption {
  font-style: italic;
  font-size: 90%;
  margin-bottom: 10px;
} */
